
        <div class="card-header">
            <h4 class="card-title mb-0">Top Bundles Purchawed This Month</h4>
        </div>
        <div class="card-body">
            <div id="chart-horizontal-bar" data-colors='["--vz-primary", "--vz-success"]' class="e-charts"></div>
        </div>
