@model eSim.Infrastructure.DTOs.Client.ClientSettingsDTO

@{
    ViewData["Title"] = "Client Settings Index";
}

@if (ViewBag.ClientSettingsNotFound is not null)
{
    <div class="alert alert-danger text-center my-3">
        @ViewBag.ClientSettingsNotFound
    </div>
}


@if(Model is null)
{
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        <strong> No client available</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
else
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Client Settings</h4>

                </div><!-- end card header -->

                <div class="card-body">
                    <div class="live-preview">
                        <div class="table-responsive">
                            <table class="table table-striped table-nowrap align-middle mb-0">
                                <thead>

                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Fixed Commission</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        <tr>
                                            <td>@Model.Name</td>
                                            <td>$@Model.FixedCommission</td>
                                            <td>
                                            <a asp-action="UpdateClientSettings" asp-controller="ClientSettings" asp-route-id="@TempData["clientid"]"><i class="ri-pencil-fill fs-5"></i></a>
                                        </td>

                                        </tr>

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
}

