<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <partial name="~/Views/Shared/_title_meta.cshtml" />
    @RenderSection("styles", required: false)
    <partial name="~/Views/Shared/_head_css.cshtml" />

    <!-- One of the following themes -->
    <link rel="stylesheet" href="~/assets/libs/@('@')simonwep/pickr/themes/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/assets/libs/@('@')simonwep/pickr/themes/monolith.min.css" /> <!-- 'monolith' theme -->
    <link rel="stylesheet" href="~/assets/libs/@('@')simonwep/pickr/themes/nano.min.css" /> <!-- 'nano' theme -->


    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"> *@
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">

        <partial name="~/Views/Shared/_menu.cshtml" />


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <partial name="~/Views/Shared/_page_title.cshtml" />


                    @RenderBody()


                </div>
            </div>
            <partial name="~/Views/Shared/_footer.cshtml" />

        </div>

    </div>
    <!-- END layout-wrapper -->


    <partial name="~/Views/Shared/_customizer.cshtml" />

    <partial name="~/Views/Shared/_vendor_scripts.cshtml" />




    <script src="~/assets/js/app.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script> 

    <!-- Scripts For Dashboard and Graphs-->
    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <!-- piecharts init -->
    <script src="~/assets/js/pages/apexcharts-pie.init.js"></script>


    <!-- apexcharts init -->
    <script src="~/assets/js/pages/apexcharts-column.init.js"></script>

    <!-- linecharts init -->
    <script src="~/assets/js/pages/apexcharts-line.init.js"></script>

    <!-- echarts js -->
    <script src="~/assets/libs/echarts/echarts.min.js"></script>

    <!-- echarts init -->
    <script src="~/assets/js/pages/echarts.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <!-- Scripts For Dashboard and Graphs End-->


    <script>
        function ToastNotification(message,type) {
            var backgroundColor = "linear-gradient(to right, #00b09b, #96c93d)";
            if(type === "error"){
                        backgroundColor = "linear-gradient(to right, #ff416c, #ff4b2b)";

            }
            else if(type === "warning"){
                        backgroundColor = "linear-gradient(to right, #ff416c, #ff4b2b)";
            }

            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                style: {
                    background: backgroundColor
                },
                stopOnFocus: true,
                newWindow: true
            }).showToast();
        }
    </script>
   
    @RenderSection("scripts", required: false)
</body>
</html>