<meta charset="utf-8" />
<title>@ViewBag.title | eSim - Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="eSim Admin Portal" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">