@model eSim.Infrastructure.DTOs.Account.ResetPasswordDTO

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_AccountLayout";
}

<main class="form-signin">
    <form asp-action="ResetPassword" asp-controller="Account" method="post" enctype="application/x-www-form-urlencoded">
        <div class="text-center">
            <img class="mb-4" src="https://www.inovedia.com/wp-content/uploads/2020/04/logo.png" alt="" width="150">
        </div>
        <h4 class="h6 mb-1   text-center fw-normal">Reset your password</h4>

        <input type="hidden" asp-for="@Model.UserId" />

        <div class="mb-2">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <button class="w-100 btn btn-outline-primary" type="submit">Submit</button>

        <p class="mt-5 mb-3 text-muted text-center">Redirect to <a asp-action="Index" class="text-muted">Login</a>© 2025</p>
    </form>
</main>

@section Scripts {

    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}

