@using eSim.Infrastructure.DTOs.AccessControl
@model ManagerUserDTO

@{
    ViewBag.Title = "Add User";
}

<h4>Add User</h4>
<hr />

@if (TempData["ValidationError"] is not null)
{

    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        @TempData["ValidationError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser" method="post" enctype="application/x-www-form-urlencoded" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email address"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input id="alertMessage" asp-for="Username" class="form-control" placeholder="Enter your username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-items="@ViewBag.RolesList" asp-for="Role" class="form-control">

                    <option value="">---Select---</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="control-label">User Type</label>
                <select asp-items="@ViewBag.UsersType" asp-for="UserType" class="form-control">

                    <option value="">---Select---</option>
                </select>
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger" asp-controller="Users" asp-action="ManageUsers">Back</a>

            </div>
        </form>
    </div>
</div>


