@{
    ViewBag.Title = "Disable User";
}
<div class="row my-3">
    <a asp-controller="Users" asp-action="ManageUsers">
        <i class=" ri-arrow-left-line fs-3"></i>
    </a>
</div>

<h4>Disable User</h4>
<hr />

