@using eSim.Infrastructure.DTOs.AccessControl;
@using eSim.Common.Enums
@model UserTempDTO
@{
    ViewBag.Title = "Manage Users";


    var notifications = new List<(string Key, string Type)>
    {
        ("ValidationError", "error"),
        ("EmailNotSent", "error"),
        ("EmailNotReceived", "error"),
        ("EmailReceived", "success"),
        ("UserCreated", "success")
    };
}

<h4>Manage Users</h4>

<hr />

@if (User.HasClaim("Users", "create"))
{
    <div class="row my-2">
        <div class="col-xl-12">
            <a asp-action="AddUser" class="float-end mb-2  btn rounded-pill btn-secondary waves-effect waves-light">Add User</a>
        </div>
    </div>
}


@if((int)AspNetUsersTypeEnum.Developer == Model.UserType || (int)AspNetUsersTypeEnum.Superadmin == Model.UserType)
{
    <partial name="_AdminUserListPartial" model="Model" />
}
else
{

    <partial name="_ClientUserListPartial" model="Model" />
}

@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        @foreach (var (key, type) in notifications)
        {
            if (TempData[key] != null)
            {
                <text>ToastNotification("@TempData[key]", "@type");</text>
            }
        }
        });
    </script>
}