@{
    ViewBag.pTitle = "Hajj Promo";
    ViewBag.pageTitle = "Buy Bundles";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0 d-inline">All Bundles</h5><p class="text-muted d-inline ms-2">Select a Bundle for info</p>
            </div>
            <div class="card-body">
                <table class="datatable-scroll table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Bundle</th>
                            <th>Country</th>
                            <th>Data</th>
                            <th>Local Calls</th>
                            <th>Local SMS</th>
                            <th>Duration</th>
                            <th>Includes Number</th>
                            <th>Roaming</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                        <tr>
                            <td>eSIM. 1GB 7Days. Africa. <br />Unthrorrled</td>
                            <td>Africa</td>
                            <td>1GB</td>
                            <td></td>
                            <td></td>
                            <td>7 days</td>
                            <td>X</td>
                            <td>Yes (14 Countries)</td>
                            <td>$10</td>
                            <td><button class="btn btn-sm btn-soft-info">+</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->