@{
    ViewBag.pTitle = "Order History";
    ViewBag.pageTitle = "Buy Bundles";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0 d-inline">Order History</h5><p class="text-muted d-inline ms-2">Select an Order for more detials</p>
            </div>
            <div class="card-body">
                <table class="datatable-scroll table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Order Type</th>
                            <th>Total</th>
                            <th>Running Balance</th>
                            <th>Bundles</th>
                            <th>Status</th>
                            <th>Order Date</th>
                            <th>Source IP</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>ads34-4k3j4-34lkj34-34kjk-dmidmjj8989d9d9d9</td>
                            <td>Bundle Assignment</td>
                            <td>$0.00</td>
                            <td>$33.06</td>
                            <td>1</td>
                            <td>Completed</td>
                            <td>24/05/2025 02:23PKT</td>
                            <td>2a09:bac3:34kk:3433::33:34</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-download-line align-bottom me-1"></i>CSV</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-qr-code-line align-bottom me-1"></i>QRs</span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="button">
                                    <span class="icon-on"><i class="ri-information-line align-bottom me-1"></i>Info</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->