@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section scripts {


    @if (true)
    {
        <script>
            console.log("okd");
                          ToastNotification("message","success");
        </script>
    }


    <script>
                    document.addEventListener('DOMContentLoaded', function () {
       
        @if (TempData["ClientUpdated"] != null)
        {
            <text>
                                     ToastNotification("@TempData["ClientUpdated"]","success");
            </text>
        }
        @if ((TempData["ClientError"] != null))
        {
            <text>
                                    ToastNotification("@TempData["ClientError"]","error");
            </text>

        }
        @if (TempData["ClientNotFound"] != null)
        {
            <text>
                                   ToastNotification("@TempData["ClientNotFound"]","error");
            </text>

        }
                    });
    </script>
}