@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (User.HasClaim("Active Bundles", "generate"))
{
    <a asp-action="Create" asp-controller="ActiveBundles" class="btn btn-danger">Create Active Bundle</a>
}
<h2>Active Bundle Index</h2>