
        <div class="card-header">
            <h4 class="card-title mb-0">Top Bundles Purchased By Country</h4>
        </div><!-- end card header -->

        <div class="card-body">
            <div id="column_chart" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr"></div>
        </div><!-- end card-body -->
